<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <activity
            android:theme="@style/Theme.Cineworld.NoActionBar.Black"
            android:name=".image.ImageActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".flips.FlipsActivity"
            android:theme="@style/Theme.Cineworld.NoActionBar.Black"
            android:exported="true">
        </activity>
        <activity
            android:name=".webview.WebViewActivity"
            android:theme="@style/Theme.Cineworld.NoActionBar.Light"
            android:exported="true">
        </activity>
    </application>
</manifest>